body {
    display:flexbox;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.main1 {
    flex:1;
    padding: 10px 90px 30px;
    color:white;
    background-color: #1f2937;
    display:flex;
    flex-direction:column;
}

.header {
    display:flex;
    justify-content: space-between;
}

.header-title {
    font-family: 'Zeyada', cursive, sans-serif;
    font-size: 48px;
}

.header-links {
    display:flex;
    gap: 10px;
}

.main1-content{
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main1-subtext, .header-links {
    color:#a3b6db;
}

.main1-left {
    display:flex;
    flex-direction: column;
    
}

.main1-title {
    font-size: 150%;
    text-align: ;
}

.main1-subtext {
    margin-bottom: auto;
}

.main1-left button {
    align-self: flex-start;
}

.main1 .main1-photo {
    max-width: 200px;
    height: auto;
    flex: 1;
    border-radius: 0;
}

.main2 {
    flex:1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align:center;
}

.team-greeting {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

ul {
    list-style: none;
}

.team {
    display: flex;
    justify-content:center;
    gap:20px;
}

img {
    border-radius: 25px;
}

.main3 {
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    padding: 60px;
    color:#1f2937b4;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.main4 {
    flex:1;
    margin-bottom: auto;
    padding: 40px 80px;
}

.blue-box{
    padding:30px 60px;
    background-color: #0aa9f3;
    color: white;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
}

.subtext {
    font-weight: lighter;
    font-size: 60%;
}

.signup {
    background-color: #0aa9f3;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: white;
}

.footer {
    
    font-size: 10px;
    text-align:center;
    color: white;
    background-color: black;
    padding: 10px;
}

.main3 .quoter {
    font-size: 18px;
    font-weight:700;
    font-style:normal;
    text-align:right;
}